rasa==3.6.21
rasa-sdk==3.6.2
python-dotenv>=1.0.1
requests>=2.32.0
PyYAML>=6.0.2
PicImageSearch @ git+https://github.com/kitUIN/PicImageSearch.git
lxml>=6.1.0,<6.1.1
pyquery>=2.0.1
yt-dlp
instaloader
loguru
jmcomic
rsa
pytz
httpx[http2]
six
tornado
twisted
zope.interface
pycryptodome==3.9.8
xxhash
python-axolotl-curve25519
cryptography
thrift
qrcode
Image
rich
speedtest-cli
h2>=3.2.0
opencc-python-reimplemented
